/* Style for login and register sections */
.login, .register {
    background-color: white;
    width: 400px; /* adjust width as needed */
    padding: 2rem;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    color: var(--primary-color);
}
.login h2, .register h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    text-align: center;
}
.login input, .register input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid var(--dark-primary);
    border-radius: 5px;
    font-size: 1.2rem;
}
.login button, .register button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login button:hover, .register button:hover {
    background-color: var(--dark-primary);
}
